<app-loader *ngIf="loader" [fullScreen]="true"></app-loader>
<div class="row justify-content-center m-0">
  <div class="col-md-6 border my-5 p-0">
    <div class="header d-flex align-items-center px-3">
      <img class="cursor-pointer logo" src="../../../../assets/logo.png" />
    </div>
    <form class="p-3" #newPasswordForm="ngForm">
      <h3 class="mb-3">Reset Password</h3>
      <div class="alert alert-danger mb-3" *ngIf="error">{{ error }}</div>
      <h3 class="mb-3">Forgot Password</h3>
      <div class="form-group mb-3">
        <label for="email" class="form-label"
          >New Password <span class="text-danger">*</span></label
        >
        <div class="input-group">
          <input
            [type]="showPassword ? 'text' : 'password'"
            id="password"
            class="form-control"
            name="password"
            [(ngModel)]="password"
            minlength="8"
            required
          />
          <span class="input-group-text"
            ><fa-icon
              [icon]="showPassword ? HidePasswordIcon : showPasswordIcon"
              class="cursor-pointer"
              (click)="showPassword = !showPassword"
            ></fa-icon
          ></span>
        </div>
      </div>
      <div class="form-group mb-3">
        <label for="confirmPassword" class="form-label"
          >Confirm Password <span class="text-danger">*</span></label
        >
        <div class="input-group">
          <input
            [type]="showConfirmPassword ? 'text' : 'password'"
            id="confirmPassword"
            class="form-control"
            name="confirmPassword"
            [(ngModel)]="confirmPassword"
            required
          /><span class="input-group-text"
            ><fa-icon
              [icon]="showConfirmPassword ? HidePasswordIcon : showPasswordIcon"
              class="cursor-pointer"
              (click)="showConfirmPassword = !showConfirmPassword"
            ></fa-icon
          ></span>
        </div>
      </div>
      <div class="mb-3 text-right">
        <button
          class="btn btn-primary"
          [disabled]="newPasswordForm.invalid"
          (click)="resetPassword()"
        >
          Reset
        </button>
      </div>
    </form>
  </div>
</div>
