<app-loader
  *ngIf="$updatePasswordLoader | async"
  [fullScreen]="true"
></app-loader>

<div class="row m-0 justify-content-center">
  <div class="border col-md-6 p-3 mt-5">
    <h3 class="mb-3">Change Password</h3>
    <form [formGroup]="changePasswordForm">
      <div class="mb-3">
        <label for="currentPassword" class="form-label">Current Password</label>
        <div class="input-group">
          <input
            [type]="showOldPassword ? 'text' : 'password'"
            class="form-control"
            id="currentPassword"
            name="currentPassword"
            formControlName="oldPassword"
          />
          <span class="input-group-text"
            ><fa-icon
              [icon]="showOldPassword ? HidePasswordIcon : showPasswordIcon"
              class="cursor-pointer"
              (click)="showOldPassword = !showOldPassword"
            ></fa-icon
          ></span>
        </div>
      </div>
      <div class="mb-3">
        <label for="newPassword" class="form-label">New Password</label>
        <div class="input-group">
          <input
            [type]="showNewPassword ? 'text' : 'password'"
            class="form-control"
            id="newPassword"
            name="newPassword"
            formControlName="newPassword"
          /><span class="input-group-text"
            ><fa-icon
              [icon]="showNewPassword ? HidePasswordIcon : showPasswordIcon"
              class="cursor-pointer"
              (click)="showNewPassword = !showNewPassword"
            ></fa-icon
          ></span>
        </div>
      </div>
      <div class="mb-3">
        <label for="confirmNewPassword" class="form-label"
          >Confirm New Password</label
        >
        <div class="input-group">
          <input
            name="confirmNewPassword"
            [type]="showConfirmPassword ? 'text' : 'password'"
            class="form-control"
            id="confirmNewPassword"
            formControlName="confirmNewPassword"
          /><span class="input-group-text"
            ><fa-icon
              [icon]="showConfirmPassword ? HidePasswordIcon : showPasswordIcon"
              class="cursor-pointer"
              (click)="showConfirmPassword = !showConfirmPassword"
            ></fa-icon
          ></span>
        </div>
      </div>
      <div class="mb-3 text-right">
        <button
          class="btn btn-lg btn-primary"
          (click)="save()"
          [disabled]="changePasswordForm.invalid"
        >
          Save
        </button>
      </div>
    </form>
  </div>
</div>
