<app-loader *ngIf="loader" [fullScreen]="true"></app-loader>

<div class="row justify-content-center m-0">
  <div class="col-md-6 border my-5 p-0">
    <div class="alert alert-success" *ngIf="mailStatus; else sendEmailForm">
      An Email with Password Rest Link is sent to your Registered Email Id.
      Please check you mail and reset you password.
    </div>
    <ng-template #sendEmailForm>
      <div class="header d-flex align-items-center px-3">
        <img class="cursor-pointer logo" src="../../../../assets/logo.png" />
      </div>
      <form class="p-3" #formObj="ngForm">
        <h3 class="mb-3">Forgot Password</h3>
        <div class="alert alert-danger mb-3" *ngIf="error">{{ error }}</div>
        <div class="form-group mb-3">
          <label for="email"
            >Enter your registered Email id
            <span class="text-danger">*</span></label
          >
          <input
            type="email"
            email
            id="email"
            class="form-control"
            name="email"
            [(ngModel)]="email"
            required
          />
        </div>
        <div class="mb-3 row">
          <div class="text-muted col-8">
            We will send Password Reset link to your registered email id
          </div>
          <div class="col-4 text-right">
            <button
              class="btn btn-primary"
              [disabled]="formObj.invalid"
              (click)="save()"
            >
              Save
            </button>
          </div>
        </div>
      </form>
    </ng-template>
  </div>
</div>
