<form [formGroup]="loginForm">
  <div class="form-group">
    <label for="email">Email <span class="text-danger">*</span></label>
    <input
      type="email"
      id="email"
      class="form-control"
      formControlName="email"
    />
  </div>
  <div class="form-group">
    <label for="password">Password <span class="text-danger">*</span></label>
    <div class="input-group">
      <input
        [type]="showPassword ? 'text' : 'password'"
        id="password"
        class="form-control"
        formControlName="password"
        name="password"
      />
      <span class="input-group-text"
        ><fa-icon
          [icon]="showPassword ? HidePasswordIcon : showPasswordIcon"
          class="cursor-pointer"
          (click)="showPassword = !showPassword"
        ></fa-icon
      ></span>
    </div>
  </div>
  <div class="d-flex justify-content-between p-2">
    <div
      class="text-primary cursor-pointer"
      [routerLink]="['/forgot-password']"
    >
      Forgot Password
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      (click)="login()"
      [disabled]="loader"
    >
      <div class="d-flex">
        Login
        <app-loader class="mx-2 text-white" *ngIf="loader"></app-loader>
      </div>
    </button>
  </div>
</form>
